@font-face {
  font-family: "Norse";
  src: url("src/Norse-Bold.otf") format("opentype");
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  align-items: center;
}
.image-logo-container {
  display: flex;
  height: 100vh;
  flex-basis: 35%;
  justify-content: center;
}
.plant {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.logo-container {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 4, 4, 0.5);
  color: white;
  max-width: 35%;
  min-width: 35%;
  padding: 0.5rem 0;
  top: 50%;
  transform: translateY(-50%);
}
.odin-logo {
  height: 20vh;
}
.logo-name {
  font-size: 100px;
  font-family: "Norse";
}
.referency-image {
  position: absolute;
  bottom: 0;
  color: white;
}
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 65%;
  gap: 1rem;
  height: 65vh;
}
form > * {
  margin-left: 40px;
}
.form-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  margin: 0;
  background-color: white;
  align-content: flex-start;
}
.form-container p {
  flex-basis: 100%;
  font-size: 20px;
  font-weight: bold;
}
.form-container div {
  flex: 1 1 40%;
}

label {
  display: block;
}
button {
  background-color: #596d48;
  font-size: 1em;
  color: white;
  border: none;
  max-width: 11rem; /* Reduced width */
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  flex-basis: 100%;
}
.login {
  flex-basis: 100%;
}
a {
  color: #596d48;
  text-decoration: none;
}
input:focus {
  outline: 2px solid blue;
  border: blue;
  border-radius: 2px;
}
input:invalid {
  outline: 2px solid red;
  border: red;
}
